<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <title>Django and Vue.js</title>
    <style>
        .router-link-active {
            color: black;
            text-decoration: none;
        }
    </style>
    <!-- Vue.js -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-router"></script>
    <script src="https://unpkg.com/vuex"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body class="bg-light">

<div class="bg-white container">

    <div class="jumbotron">
        <h1 class="display-4">Django and Vue.js</h1>
        <p class="lead">
            Wouldn’t it be cool if you could prototype a custom web application that’s responsive (mobile ready),
            reactive (light-speed fast), with a full–featured back office site to manage the content; all of that in no
            time? Actually, with a mashup between Django’s and Vue.js, you can! 😁
        </p>
    </div>

    <!-- Content -->
    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <router-link class="nav-link text-primary" to="/author/">Go to Authors</router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link text-primary" to="/article/">Go to Articles</router-link>
                </li>
            </ul>
        </nav>
        <br/>
        <router-view></router-view>
    </div>
</div>

<!-- Vue templates -->
<template id="article-list-template">
    <div class="article-list">
        <h2>Articles</h2>
        <article-item v-bind:content="article.content" v-bind:key="article.slug" v-bind:name="article.name"
                      v-bind:slug="article.slug" v-for="article in articles"></article-item>
    </div>
</template>

<template id="author-list-template">
    <div class="author-list">
        <h2>Authors</h2>
        <author-item v-bind:key="author.slug" v-bind:name="author.name" v-bind:slug="author.slug"
                     v-for="author in authors"></author-item>
    </div>
</template>

<template id="article-item-template">
    <div class="article-item">
        <span v-if="$route.params.slug">
          <h3>
            <router-link v-bind:to="'/article/' + $route.params.slug + '/'"
                         v-html="$store.getters.getArticleBySlug($route.params.slug)['name']"></router-link>
          </h3>
          <div v-html="$store.getters.getArticleBySlug($route.params.slug)['content']"></div>
        </span>
        <span v-else>
          <h3>
            <router-link v-bind:to="'/article/' + slug + '/'" v-html="name"></router-link>
         </h3>
          <div v-html="content"></div>
          <hr/>
        </span>
    </div>
</template>

<template id="author-item-template">
    <div class="author-item">
        <span v-if="$route.params.slug">
          <b>
            <router-link v-bind:to="'/author/' + $route.params.slug + '/'">
              [[ $store.getters.getAuthorBySlug($route.params.slug)['name'] ]]
            </router-link>
          </b>
          ([[ $route.params.slug ]])
        </span>
        <span v-else>
          <b>
            <router-link v-bind:to="'/author/' + slug + '/'">
              [[ name ]]
            </router-link>
          </b> ([[ slug ]])
        </span>
    </div>
</template>

<!-- Vue app -->
<script>
    // store
    const store = new Vuex.Store({
        state: {
            articles: [],
            authors: [],
        },
        mutations: {
            articles(state) {
                axios.get("/api/article").then(response => {
                    state.articles = response.data.results
                });
            },
            authors(state) {
                axios.get("/api/author").then(response => {
                    state.authors = response.data.results
                });
            }
        },
        getters: {
            getArticleBySlug: (state) => (slug) => {
                return state.articles.find(articles => articles.slug === slug)
            },
            getAuthorBySlug: (state) => (slug) => {
                return state.authors.find(authors => authors.slug === slug)
            },
        }
    });

    store.commit('articles');
    store.commit('authors');

    // components
    ArticleList = Vue.component('article-list', {
        data: function () {
            return {articles: store.state.articles}
        },
        template: '#article-list-template',
    });

    AuthorList = Vue.component('author-list', {
        data: function () {
            return {authors: store.state.authors}
        },
        template: '#author-list-template',
    });

    ArticleItem = Vue.component('article-item', {
        delimiters: ['[[', ']]'],
        props: ['name', 'slug', 'content'],
        template: '#article-item-template',
    });

    AuthorItem = Vue.component('author-item', {
        delimiters: ['[[', ']]'],
        props: ['name', 'slug'],
        template: '#author-item-template',
    });

    // router
    const routes = [
        {component: ArticleList, path: '/article/',},
        {component: AuthorList, path: '/author/',},
        {component: ArticleItem, path: '/article/:slug/',},
        {component: AuthorItem, path: '/author/:slug/',},
    ]

    const router = new VueRouter({
        mode: 'history',
        routes: routes,
    })

    // app
    const myapp = new Vue({
        router,
        store,
    }).$mount('#app');
</script>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<!-- Bootstrap -->
<link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" rel="stylesheet">
<script crossorigin="anonymous"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>